.form__input {
  max-width: 500px;
  width: 100%;
  padding: 5px;
}

.form__button {
  padding: 5px 20px;
  background-color: teal;
  color: white;
}

@media (max-width: 767px) {
  .form__button {
    max-width: 500px;
    width: 100%;
    margin: 10px auto;
  }
}
